@charset "utf-8"; /* Encoding Charset*/

/*
  Table of Content
1.  Rating Stars
2.  Img Banner + Img Text
3.  Form Styles
4.  Scroll Down
*/

/* ==============
    Rating Stars
   ============== */

.rating1 > label {
  font-size: 7.5vh;
  cursor: pointer;
  line-height: 1;
}

.rating1 > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
  color: #ffd700;
}

.rating1 > label:hover:before,
.rating1 > label:hover ~ label:before {
  opacity: 1;
  color: #ffd700;
  transition: 0.15s;
}

.rating1 > input:checked ~ label:before {
  opacity: 1;
  transition: 0.15s;
}

.rating1:hover > input:checked ~ label:before {
  opacity: 1;
}

/* =======================
    Img Banner + Img Text
   ======================= */

.imgbanner {
  background: var(--main-bg-color);
  background-image: url(../Graphics/Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.display-1 {
  font-size: 6vh;
}

/* =============
    Form Styles
   ============= */

textarea {
  resize: none;
}

.btn {
  border: 2px black solid;
  background-color: rgb(88, 163, 254);
}

.btn:hover {
  background: var(--main-bg-color);
  font-weight: bold;
}

.textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
#section {
  border: 2px solid black;
}

/* =============
    Scroll Down
   ============= */

#Scroll {
  transition: opacity 0.1s linear;
  z-index: 1;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
}

/* Make arrow */
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  transform-origin: 50% 50%;
  transform-style: flat;
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

/* Animation Delay */
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

/* Animation keyframes */
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
